<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!--<include resource="logback-appenders-aws.xml" />-->
    <include resource="logback-appenders-fluentd.xml" />
    <include resource="logback-appenders-std.xml" />

    <logger name="biz.eurosib.lkdkp.logger.FluentdLogger" level="TRACE" additivity="true">
        <!--<appender-ref ref="KINESIS" />-->
        <!--<appender-ref ref="CLOUDWATCH" />-->
        <!--<appender-ref ref="FLUENCY" />-->
        <appender-ref ref="FLUENT" />
        <appender-ref ref="SECURITY_ALERT" />
    </logger>

    <root>
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="FLUENCY" />-->
        <!--<appender-ref ref="FLUENT" />-->
    </root>

</configuration>